@font-face {
    font-family: 'MyWebFont';
    src: url(/fonts/BRUSHSTP.ttf) format('truetype');
}

@font-face {
    font-family: 'Google';
    src: url(/fonts/5h1aiZUrOngCibe4TkHLQg.woff2) format('woff2');
}


/* latin */

@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v9/5h1aiZUrOngCibe4TkHLQg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Meddon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Meddon'), url(https://fonts.gstatic.com/s/meddon/v12/kmK8ZqA2EgDNeHTpgx1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Clicker Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Clicker Script'), local('ClickerScript-Regular'), url(https://fonts.gstatic.com/s/clickerscript/v7/raxkHiKPvt8CMH6ZWP8PdlEq71rf0Ts.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */

@font-face {
    font-family: 'Loved by the King';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Loved by the King'), local('LovedbytheKing'), url(https://fonts.gstatic.com/s/lovedbytheking/v9/Gw6gwdP76VDVJNXerebZxUMeRXUF2MiKn3A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    padding-top: 56px;
}

#titleName {
    font-family: 'Clicker Script';
    font-size: 100px;
}

#subTitle {
    font-family: 'Loved by the King';
    font-size: 35px;
    font-weight: 550;
}